Msunduzieforms/Unmanaged/Workflows/INTERNSHIPAPPLICATION-84020C81-20DD-ED11-8847-6045BD41C5E2.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedmicrosoftforms_976fd"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365_d96bc"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_wordonlinebusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedwordonlinebusiness_5cc97"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_adobepdftools_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedadobepdftools_00927"
        },
        "api": {
          "name": "shared_adobepdftools"
        }
      },
      "shared_adobesign_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedadobesign_d5ca8"
        },
        "api": {
          "name": "shared_adobesign"
        }
      },
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedsharepointonline_0442e"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365users_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365users_92015"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_office365users_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365users_f113c"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_office365groups": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365groups_b9e21"
        },
        "api": {
          "name": "shared_office365groups"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "09701f2f-5db9-462d-9a52-d4ef61f0f2e0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_1",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "P1xbJFWj6kaFMPRsd6DJyleBi50AVANPgFhIBvULuktURVpJT0E2TUlZWjhKN0FOOUhRVE1FVEdNWiQlQCN0PWcu"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a3b10c8b-893a-46a4-859d-3bc7d3caf7ad"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_1",
              "operationId": "GetFormResponseById",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "P1xbJFWj6kaFMPRsd6DJyleBi50AVANPgFhIBvULuktURVpJT0E2TUlZWjhKN0FOOUhRVE1FVEdNWiQlQCN0PWcu",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_-_Applicant": {
          "runAfter": {
            "Get_User_Profiles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5aef2aa5-7367-4b40-af82-43e220f3eff2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_response_details')?['body/rda18bac1c1d04830a18e9df35c33ade1']",
              "emailMessage/Subject": "Internship Application ",
              "emailMessage/Body": "<p>Hi @{outputs('Get_response_details')?['body/r6659a6be489f43859d38e82924de4140']} @{outputs('Get_response_details')?['body/r9574f19b5fa84fac8d926ec598fee283']} .<br>\n<br>\nYour request for Internship Application has been submitted.<br>\n<br>\nKind regards,<br>\n<br>\nMsunduzi</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Populate_a_Microsoft_Word_template": {
          "runAfter": {
            "Send_an_email_-_Applicant": [
              "Succeeded"
            ]
          },
          "metadata": {
            "012SJIWHQSMOAROZZV5RDIIEDFXUPH4AQU": "/Templates/2.Application for Internet Access.docx",
            "operationMetadataId": "ec6f57c9-dd77-47eb-9b4e-981904d41357",
            "012SJIWHTQ7DHNDYPDXFEKA3YRPPP6P7YN": "/Templates/5.USER ACCOUNT FORM – SYSTEMS or APPLICATIONS HEAT.docx",
            "012SJIWHSAAISNCSXDJFDJMPGAN35BAWB5": "/Templates/10.EXIT ADVICE FORM.docx",
            "012SJIWHQIEKGSGTZY5BCIBCCLI3PHCANY": "/Templates/14.APPLICATION FOR INTERNSHIP.docx"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness_1",
              "operationId": "CreateFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "source": "groups/9d8b8157-5400-4f03-8058-4806f50bba4b",
              "drive": "b!uCWque-kv0edFfaaVvl3c64TCXb86ZJIqdQmmkDooA4OtDbVvZZATYLLLQ84eQUt",
              "file": "012SJIWHQIEKGSGTZY5BCIBCCLI3PHCANY",
              "dynamicFileSchema/41413096": "@outputs('Get_response_details')?['body/r3bcbf58bd7ff4b408b31d146c6361ac1']",
              "dynamicFileSchema/192655154": "@outputs('Get_response_details')?['body/rd534612acf8b446c972ec8c1806d586d']",
              "dynamicFileSchema/194588308": "@outputs('Get_response_details')?['body/r55075b174b854da9afd10c97464d6dfe']",
              "dynamicFileSchema/200222379": "@outputs('Get_response_details')?['body/rc6dbc99d3489433d9c9b4aa9b9eff6f6']",
              "dynamicFileSchema/277844539": "@outputs('Get_response_details')?['body/r3af8ac4ffb3e4217959c136cf6635297']",
              "dynamicFileSchema/278929270": "@outputs('Get_response_details')?['body/r3bdd3d97c8314dd18db2650066191eef']",
              "dynamicFileSchema/279302209": "@outputs('Get_response_details')?['body/rd942833a5681424bb50de6f3a6033c8f']",
              "dynamicFileSchema/431480206": "@outputs('Get_response_details')?['body/rc3f05c4abafc4ea8b4f8d0147fb1832b']",
              "dynamicFileSchema/442039646": "@outputs('Get_response_details')?['body/r9ab688436e8146b696efcb8b2d78c4b9']",
              "dynamicFileSchema/491683366": "@outputs('Get_response_details')?['body/r605f93306f3546079fa62ba0606a4c0c']",
              "dynamicFileSchema/1002013991": "@outputs('Get_response_details')?['body/r3514d67835ee4ebf9ba0351b48431046']",
              "dynamicFileSchema/1087659232": "@outputs('Get_response_details')?['body/rb82a871670874b408e2bc1544d190750']",
              "dynamicFileSchema/1109400942": "@outputs('Get_response_details')?['body/r9574f19b5fa84fac8d926ec598fee283']",
              "dynamicFileSchema/1185023890": "@outputs('Get_response_details')?['body/r370b00f58fe14aa3b306bbfac007e5e2']",
              "dynamicFileSchema/1237358734": "@outputs('Get_response_details')?['body/r31bd1b772e7c419eb206e465cda5bbdd']",
              "dynamicFileSchema/1311440350": "@outputs('Get_response_details')?['body/r02d80dca9d9a4e1391c3a27474570ec8']",
              "dynamicFileSchema/1349368571": "@outputs('Get_response_details')?['body/re18b70ddf614425d8165fe64da6d71b7']",
              "dynamicFileSchema/1364406673": "@outputs('Get_response_details')?['body/r6eb32d60125042f79f35aa959b2cbdc3']",
              "dynamicFileSchema/1379358471": "@outputs('Get_response_details')?['body/r9be939a19c334d47a70b5ab4aef05451']",
              "dynamicFileSchema/1390696378": "@outputs('Get_response_details')?['body/rf6d7d7c3342a4fb1abf64f7cca23eee7']",
              "dynamicFileSchema/1420448784": "@outputs('Get_response_details')?['body/r31690e81b97248a1a819d1cdba224629']",
              "dynamicFileSchema/1668513604": "@outputs('Get_response_details')?['body/redd15d3b680044fd956b23cd2a8576fe']",
              "dynamicFileSchema/1688252497": "@outputs('Get_response_details')?['body/ra3eb3a4a3531460dae0c7bd81aeba865']",
              "dynamicFileSchema/1700656287": "@outputs('Get_response_details')?['body/rf0cd22eab24d442a831f3dea25a2f6a3']",
              "dynamicFileSchema/1717690708": "@outputs('Get_response_details')?['body/r97804ece103349f787bfa5eecf73daab']",
              "dynamicFileSchema/1871727378": "@outputs('Get_response_details')?['body/r0e8a42b3f7ef4b64a18d4549ef2010c6']",
              "dynamicFileSchema/2017721336": "@outputs('Get_response_details')?['body/rc7cddfcccceb435f886e5f2ccc3b2525']",
              "dynamicFileSchema/2042475850": "@outputs('Get_response_details')?['body/r6659a6be489f43859d38e82924de4140']",
              "dynamicFileSchema/-2114506167": "@outputs('Get_response_details')?['body/rb59287fa320b4baba48cfeb648d9c30d']",
              "dynamicFileSchema/-66496771": "@outputs('Get_response_details')?['body/rc68b58c458454816b931a8df1cd67311']",
              "dynamicFileSchema/-2144496043": "@outputs('Get_response_details')?['body/r9574f19b5fa84fac8d926ec598fee283']",
              "dynamicFileSchema/-252667144": "@outputs('Get_response_details')?['body/rdd3e52a26f994545945401bcd5b6f074']",
              "dynamicFileSchema/-86310135": "@outputs('Get_response_details')?['body/r0436485011f74f8da2252b90ad988afd']",
              "dynamicFileSchema/-1545899440": "@outputs('Get_response_details')?['body/rf5cb712b7dda40e7afd0ae4b167dcb73']",
              "dynamicFileSchema/-523556698": "@outputs('Get_response_details')?['body/rda18bac1c1d04830a18e9df35c33ade1']",
              "dynamicFileSchema/-1738536941": "@outputs('Get_response_details')?['body/reb8c2aa47bdd4c33b4a09bf1cb1ffa6d']",
              "dynamicFileSchema/-426112914": "@outputs('Get_response_details')?['body/r4feb1d13d92544208b103ce4971e2049']",
              "dynamicFileSchema/-1557155710": "@outputs('Get_response_details')?['body/r4a2b4f5918f64629946746591fb5c1e5']",
              "dynamicFileSchema/-1526550565": "@outputs('Get_response_details')?['body/ra42fbe0a1a8741228ef18ec7f61cf020']",
              "dynamicFileSchema/-1027400386": "@outputs('Get_response_details')?['body/r93e283f1207240b58568cba751422fa3']",
              "dynamicFileSchema/-612058808": "@outputs('Get_response_details')?['body/rc010de4fbff84336bea55dc307ea1abb']",
              "dynamicFileSchema/-598012973": "@outputs('Get_response_details')?['body/r9cfb100a74514028a33bce18e57fd6b7']",
              "dynamicFileSchema/-223226150": "@outputs('Get_response_details')?['body/rb25cc90d86584470b36a9daadbb96118']",
              "dynamicFileSchema/-718668826": "@outputs('Get_response_details')?['body/r86ecbfbb960b46acbb6754a78fdcd130']",
              "dynamicFileSchema/-1755959101": "@outputs('Get_response_details')?['body/rb11bff6612bc40dc8e2be7844206ba6f']",
              "dynamicFileSchema/-524641021": "@outputs('Get_response_details')?['body/r71b46cd9557742848f7c0deebbbc5732']",
              "dynamicFileSchema/-394594565": "@outputs('Get_response_details')?['body/r4fe977bbe14f46d2b9a3b7bd9c62a7fa']",
              "dynamicFileSchema/-243036513": "@outputs('Get_response_details')?['body/r826cdc3c180f43bea7a8e0bb104bfb61']",
              "dynamicFileSchema/-389967972": "@outputs('Get_response_details')?['body/r1eae1b7caf854891a134b8955b7a49f2']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Convert_Word_to_PDF": {
          "runAfter": {
            "Populate_a_Microsoft_Word_template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b3ec345-53f6-4f00-a166-0d246a35b3d1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobepdftools_1",
              "operationId": "CreatePDFFromWord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobepdftools"
            },
            "parameters": {
              "inputFileName": "Internship Appliation - @{outputs('Get_response_details')?['body/r6659a6be489f43859d38e82924de4140']} @{outputs('Get_response_details')?['body/r9574f19b5fa84fac8d926ec598fee283']} - @{outputs('Unique_Identifier')}.docx",
              "InputFile0/body": "@body('Populate_a_Microsoft_Word_template')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Upload_a_document_and_get_a_document_ID": {
          "runAfter": {
            "Convert_Word_to_PDF": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a48cca9-ffa2-48c9-9483-e60997fa0ffd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobesign_1",
              "operationId": "CreateTransientDocument_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
            },
            "parameters": {
              "File-Name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
              "File/body": "@outputs('Convert_Word_to_PDF')?['body/fileContent']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_an_agreement_from_an_uploaded_document_and_send_for_signature": {
          "runAfter": {
            "Upload_a_document_and_get_a_document_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e713dbb-d5fb-4a26-8647-fd4b44cc911d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobesign_1",
              "operationId": "CreateAgreementById_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
            },
            "parameters": {
              "AgreementCreationInfoIdV6/name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
              "AgreementCreationInfoIdV6/fileInfos": [
                {
                  "transientDocumentId": "@outputs('Upload_a_document_and_get_a_document_ID')?['body/transientDocumentId']"
                }
              ],
              "AgreementCreationInfoIdV6/signatureType": "ESIGN",
              "AgreementCreationInfoIdV6/participantSetsInfo": [
                {
                  "memberInfos": [
                    {
                      "email": "milasandeit@gmail.com"
                    }
                  ],
                  "order": 1,
                  "role": "SIGNER"
                }
              ],
              "AgreementCreationInfoIdV6/message": "Please review and complete this document",
              "AgreementCreationInfoIdV6/reminderFrequency": "DAILY_UNTIL_SIGNED",
              "AgreementCreationInfoIdV6/emailOption/sendOptions/initEmails": "ALL"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Do_until": {
          "actions": {
            "Delay": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d242bf08-63f8-44a5-bf12-39895a8ff065"
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 1,
                  "unit": "Minute"
                }
              }
            },
            "Get_the_status_of_an_agreement": {
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ed71f604-c2fe-4d6a-a6ed-dc6c085e604f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_adobesign_1",
                  "operationId": "GetAgreementInfo_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
                },
                "parameters": {
                  "agreementId": "@outputs('Create_an_agreement_from_an_uploaded_document_and_send_for_signature')?['body/id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Create_an_agreement_from_an_uploaded_document_and_send_for_signature": [
              "Succeeded"
            ]
          },
          "expression": "@equals(outputs('Get_the_status_of_an_agreement')?['body/status'], 'SIGNED')",
          "limit": {
            "count": 5000,
            "timeout": "P3D"
          },
          "metadata": {
            "operationMetadataId": "38498b1f-994a-4183-ac81-122922a6f5c2"
          },
          "type": "Until"
        },
        "Condition": {
          "actions": {
            "Get_a_PDF_of_a_signed_agreement": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f5d5aeec-7288-456b-a91a-575679f0b9be"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_adobesign_1",
                  "operationId": "GetCombinedDocument_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
                },
                "parameters": {
                  "agreementId": "@outputs('Get_the_status_of_an_agreement')?['body/id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_file": {
              "runAfter": {
                "Get_a_PDF_of_a_signed_agreement": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0bf0552d-83a3-4150-874b-a91777db241c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                  "folderPath": "/Shared Documents/Signed Applications",
                  "name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
                  "body": "@body('Get_a_PDF_of_a_signed_agreement')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Get_files_(properties_only)": {
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "77d28dbf-3807-440c-843b-bd6cc1f9176d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetFileItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                  "table": "d536b40e-96bd-4d40-82cb-2d0f3879052d",
                  "folderPath": "/Shared Documents/Signed Applications"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_files_(properties_only)')?['body/value']",
              "actions": {
                "Compose": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cf105a4a-0170-45ff-b0e8-91a0e0b06215"
                  },
                  "type": "Compose",
                  "inputs": "@items('Apply_to_each')?['Created']"
                },
                "Year": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7c169b46-596b-4d25-a0f3-cccf28f36026"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(outputs('Compose'), 'yyyy')"
                },
                "Month": {
                  "runAfter": {
                    "Year": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8c006744-50bf-423d-8a9d-b88e9d94db92"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(outputs('Compose'), 'MM')"
                },
                "Condition_2": {
                  "actions": {
                    "Get_file_content": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "741e2c7f-38e7-41bc-968a-5be2453283e0"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "GetFileContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                          "id": "@items('Apply_to_each')?['{Identifier}']",
                          "inferContentType": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Create_file_2": {
                      "runAfter": {
                        "Get_file_content": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a053358f-d2db-45e1-8483-7252738697e2"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "CreateFile",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                          "folderPath": "/Shared Documents/Signed Applications - Managed/Internship Application/@{outputs('Year')}/@{outputs('Month')}",
                          "name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
                          "body": "@body('Get_a_PDF_of_a_signed_agreement')"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Month": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each')?['{FilenameWithExtension}']",
                      "@outputs('Convert_Word_to_PDF')?['body/fileName']"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "78777aa3-0084-4a50-acd2-ea950423a27a"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_files_(properties_only)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2b99dbc6-5fd4-4d88-98c4-650aaf654fe1"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e466793c-c34f-4fc1-a1ac-c879eb6cf27d"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_the_status_of_an_agreement')?['body/status']",
              "SIGNED"
            ]
          },
          "metadata": {
            "operationMetadataId": "448b6831-3804-4804-8117-3d22e7888fe6"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {
            "Do_until": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "47635dc0-aaa1-4525-81ae-7608b9fc859f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Status",
                "type": "string",
                "value": "@outputs('Get_the_status_of_an_agreement')?['body/status']"
              }
            ]
          }
        },
        "Unique_Identifier": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77598335-c01c-4828-81a0-ac53b25db686"
          },
          "type": "Compose",
          "inputs": "@rand(1,9999)"
        },
        "Get_User_Profiles": {
          "actions": {
            "Get_user_profile_-_ICT_Personnel": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ceb549f5-c999-4ceb-b9d6-0e7a7c605bdd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_2",
                  "operationId": "UserProfile_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "thozin@msunduzi.gov.za"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_manager_-_Line_Manager": {
              "runAfter": {
                "Get_user_profile_-_ICT_Personnel": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f53a120-d7b7-4890-9c58-b0d896cb4696"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_1",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_response_details')?['body/responder']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_manager_-_ICT_Manager": {
              "runAfter": {
                "Get_manager_-_Line_Manager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "21e8d119-7f61-4855-b69e-1de1a544f4fd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_1",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_manager_-_Line_Manager')?['body/userPrincipalName']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Scope_-_Filter_Users": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "16e2683c-c5fe-496d-b131-3e60a97eb071"
          },
          "type": "Scope"
        },
        "Scope_-_Filter_Users": {
          "actions": {
            "Send_an_HTTP_request": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "096ac4bc-1776-415d-bd95-f863de39154c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365groups",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups"
                },
                "parameters": {
                  "Uri": "https://graph.microsoft.com/v1.0/users/?$select=userPrincipalName,displayName,mail,jobTitle&$filter=jobTitle eq 'Skills Development Manager'",
                  "Method": "GET",
                  "ContentType": "application/json"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "Send_an_HTTP_request": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dfbcfc68-9844-41a8-831a-87bf405de422"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Send_an_HTTP_request')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userPrincipalName": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "mail": {
                            "type": "string"
                          },
                          "jobTitle": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "userPrincipalName",
                          "displayName",
                          "mail",
                          "jobTitle"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Filter_array": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f21a627-ffda-4bd9-a460-3ef0a2c71faf"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')?['value']",
                "where": "@equals(item()?['jobTitle'], 'Skills Development Manager')"
              }
            }
          },
          "runAfter": {
            "Unique_Identifier": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a4d44e6e-8b34-4681-b3ad-e12f77cdb3a3"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}