Msunduzieforms/Unmanaged/Workflows/REQUESTFORREFUND-2E99614A-04D9-ED11-A7C7-000D3A272709.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedmicrosoftforms_976fd"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365_d96bc"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_wordonlinebusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedwordonlinebusiness_5cc97"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_adobepdftools_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedadobepdftools_00927"
        },
        "api": {
          "name": "shared_adobepdftools"
        }
      },
      "shared_adobesign_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedadobesign_d5ca8"
        },
        "api": {
          "name": "shared_adobesign"
        }
      },
      "shared_office365users_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365users_92015"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_office365users_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365users_f113c"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedsharepointonline_0442e"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "09701f2f-5db9-462d-9a52-d4ef61f0f2e0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_1",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "P1xbJFWj6kaFMPRsd6DJyleBi50AVANPgFhIBvULuktUNkdYREVDNEFDWFVKQ1dVWFVGTVJKRFBUUyQlQCN0PWcu"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a3b10c8b-893a-46a4-859d-3bc7d3caf7ad"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_1",
              "operationId": "GetFormResponseById",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "P1xbJFWj6kaFMPRsd6DJyleBi50AVANPgFhIBvULuktUNkdYREVDNEFDWFVKQ1dVWFVGTVJKRFBUUyQlQCN0PWcu",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_-_Applicant": {
          "runAfter": {
            "Scope_-_Get_User_Profiles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5aef2aa5-7367-4b40-af82-43e220f3eff2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_response_details')?['body/responder']",
              "emailMessage/Subject": "Request for Refund Application",
              "emailMessage/Body": "<p>Hi @{outputs('Get_response_details')?['body/rdbfbe7c358d54caf84aebd298b23268a']} @{outputs('Get_response_details')?['body/r08a52c94343d4fd488e01876d8768cc8']}.<br>\n<br>\nYour request for Request for Refund has been submitted.<br>\n<br>\nKind regards,<br>\n<br>\nMsunduzi</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Populate_a_Microsoft_Word_template": {
          "runAfter": {
            "Send_an_email_-_Applicant": [
              "Succeeded"
            ]
          },
          "metadata": {
            "012SJIWHQSMOAROZZV5RDIIEDFXUPH4AQU": "/Templates/2.Application for Internet Access.docx",
            "operationMetadataId": "ec6f57c9-dd77-47eb-9b4e-981904d41357",
            "012SJIWHUREOPV2DQL6BCK6KEH6L6AFIQI": "/Templates/7.REQUEST FOR REFUND.docx",
            "012SJIWHWNL22BQO2ITZH3JX3GKIYP7YSL": "/Templates/7.REQUEST FOR REFUND.docx",
            "012SJIWHS2H3JKQZY7MFBL46YZRHB2CWNC": "/Templates/7.REQUEST FOR REFUND.docx"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness_1",
              "operationId": "CreateFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "source": "groups/9d8b8157-5400-4f03-8058-4806f50bba4b",
              "drive": "b!uCWque-kv0edFfaaVvl3c64TCXb86ZJIqdQmmkDooA4OtDbVvZZATYLLLQ84eQUt",
              "file": "012SJIWHS2H3JKQZY7MFBL46YZRHB2CWNC",
              "dynamicFileSchema/233287145": "@outputs('Get_response_details')?['body/r3af9842afbeb4109949a6d0786ee4004']",
              "dynamicFileSchema/1334873998": "@outputs('Get_response_details')?['body/r6aec122b59ab467ea22c0a064b9eb9af']",
              "dynamicFileSchema/1569924682": "@outputs('Get_response_details')?['body/r7b19e167a42d45ad84c3fd1618c3076b']",
              "dynamicFileSchema/1585873384": "@outputs('Get_response_details')?['body/r4ee9b59f58a7417f9d20782237d920b1']",
              "dynamicFileSchema/1688022357": "@outputs('Get_response_details')?['body/r6caf734ee5d5459b93b8aeb675bc98a0']",
              "dynamicFileSchema/1860243021": "@outputs('Get_response_details')?['body/r499c2c2f70c746d58544d8dcd515d00f']",
              "dynamicFileSchema/-1455950448": "@outputs('Get_response_details')?['body/rbc839360e44246ee9574eee7c3e1f309']",
              "dynamicFileSchema/-1394498328": "@outputs('Get_response_details')?['body/r43c8841c3d6a430b9f8dbaa1f1619c93']",
              "dynamicFileSchema/-1724513401": "@outputs('Get_response_details')?['body/r8c543f3ad7e7461a847a8778f2bcca69']",
              "dynamicFileSchema/-204716466": "@outputs('Get_response_details')?['body/r8bad37e466e84ed3b8e60334efa16845']",
              "dynamicFileSchema/-2004414688": "@outputs('Get_response_details')?['body/r27b904a3cdd64412898d401c06598b47']",
              "dynamicFileSchema/-201870842": "@outputs('Get_response_details')?['body/r8eaa489ac60740bd8c717e4820a76b6b']",
              "dynamicFileSchema/-1366755358": "@outputs('Get_response_details')?['body/ra6f9169ef4cf4a3a9421462dee372407']",
              "dynamicFileSchema/-1715337289": "@outputs('Get_response_details')?['body/r9292ed7e4bee4681850f12a8a7ddcb3b']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Convert_Word_to_PDF": {
          "runAfter": {
            "Populate_a_Microsoft_Word_template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b3ec345-53f6-4f00-a166-0d246a35b3d1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobepdftools_1",
              "operationId": "CreatePDFFromWord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobepdftools"
            },
            "parameters": {
              "inputFileName": "Internet Access Application - @{outputs('Get_response_details')?['body/rbc839360e44246ee9574eee7c3e1f309']} -  @{outputs('Unique_Identifier')}.docx",
              "InputFile0/body": "@body('Populate_a_Microsoft_Word_template')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Upload_a_document_and_get_a_document_ID": {
          "runAfter": {
            "Convert_Word_to_PDF": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a48cca9-ffa2-48c9-9483-e60997fa0ffd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobesign_1",
              "operationId": "CreateTransientDocument_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
            },
            "parameters": {
              "File-Name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
              "File/body": "@outputs('Convert_Word_to_PDF')?['body/fileContent']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_an_agreement_from_an_uploaded_document_and_send_for_signature": {
          "runAfter": {
            "Upload_a_document_and_get_a_document_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e713dbb-d5fb-4a26-8647-fd4b44cc911d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobesign_1",
              "operationId": "CreateAgreementById_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
            },
            "parameters": {
              "AgreementCreationInfoIdV6/name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
              "AgreementCreationInfoIdV6/fileInfos": [
                {
                  "transientDocumentId": "@outputs('Upload_a_document_and_get_a_document_ID')?['body/transientDocumentId']"
                }
              ],
              "AgreementCreationInfoIdV6/signatureType": "ESIGN",
              "AgreementCreationInfoIdV6/participantSetsInfo": [
                {
                  "memberInfos": [
                    {
                      "email": "emmanuelmogashoa@gmail.com"
                    }
                  ],
                  "order": 1,
                  "role": "SIGNER"
                },
                {
                  "memberInfos": [
                    {
                      "email": "emmanuelmogashoa@gmail.com"
                    }
                  ],
                  "order": 2,
                  "role": "SIGNER"
                }
              ],
              "AgreementCreationInfoIdV6/message": "Please review and complete this document",
              "AgreementCreationInfoIdV6/reminderFrequency": "DAILY_UNTIL_SIGNED",
              "AgreementCreationInfoIdV6/emailOption/sendOptions/initEmails": "ALL"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Do_until": {
          "actions": {
            "Delay": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d242bf08-63f8-44a5-bf12-39895a8ff065"
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 1,
                  "unit": "Minute"
                }
              }
            },
            "Get_the_status_of_an_agreement": {
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ed71f604-c2fe-4d6a-a6ed-dc6c085e604f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_adobesign_1",
                  "operationId": "GetAgreementInfo_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
                },
                "parameters": {
                  "agreementId": "@outputs('Create_an_agreement_from_an_uploaded_document_and_send_for_signature')?['body/id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Create_an_agreement_from_an_uploaded_document_and_send_for_signature": [
              "Succeeded"
            ]
          },
          "expression": "@equals(outputs('Get_the_status_of_an_agreement')?['body/status'], 'SIGNED')",
          "limit": {
            "count": 5000,
            "timeout": "P3D"
          },
          "metadata": {
            "operationMetadataId": "38498b1f-994a-4183-ac81-122922a6f5c2"
          },
          "type": "Until"
        },
        "Condition": {
          "actions": {},
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e466793c-c34f-4fc1-a1ac-c879eb6cf27d"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@variables('Status')",
              "SIGNED"
            ]
          },
          "metadata": {
            "operationMetadataId": "448b6831-3804-4804-8117-3d22e7888fe6"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {
            "Do_until": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "47635dc0-aaa1-4525-81ae-7608b9fc859f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Status",
                "type": "string",
                "value": "@outputs('Get_the_status_of_an_agreement')?['body/status']"
              }
            ]
          }
        },
        "Scope_-_Get_User_Profiles": {
          "actions": {
            "Get_user_profile_-_Applicants_Manager": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c14d655d-ef74-44dc-be02-4d08132f24aa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_1",
                  "operationId": "UserProfile_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "EmmanuelM@msunduzi.gov.za"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_manager_-_Line_Manager": {
              "runAfter": {
                "Get_user_profile_-_Applicants_Manager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ff7312d7-9c85-495f-8634-edeaaeb18fb7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_2",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_user_profile_-_Applicants_Manager')?['body/userPrincipalName']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_manager_-_Senior_Manager": {
              "runAfter": {
                "Get_manager_-_Line_Manager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "04fe713b-3db5-4833-97d1-9ea71782bad6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_2",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_manager_-_Line_Manager')?['body/userPrincipalName']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_manager_-_GM": {
              "runAfter": {
                "Get_manager_-_Senior_Manager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d19b87ce-4362-46f0-a61b-3cfece5c5c22"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_2",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_manager_-_Senior_Manager')?['body/userPrincipalName']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Unique_Identifier": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cf49d0f2-2f45-4f4b-92e0-f4c2436a31d9"
          },
          "type": "Scope"
        },
        "Condition_2": {
          "actions": {
            "Get_a_PDF_of_a_signed_agreement": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f5d5aeec-7288-456b-a91a-575679f0b9be"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_adobesign_1",
                  "operationId": "GetCombinedDocument_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
                },
                "parameters": {
                  "agreementId": "@outputs('Get_the_status_of_an_agreement')?['body/id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_file": {
              "runAfter": {
                "Get_a_PDF_of_a_signed_agreement": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0bf0552d-83a3-4150-874b-a91777db241c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                  "folderPath": "/Shared Documents/Signed Applications",
                  "name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
                  "body": "@body('Get_a_PDF_of_a_signed_agreement')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Get_files_(properties_only)": {
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ea0f1604-3404-4726-8138-4ab580ac1d7c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetFileItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                  "table": "d536b40e-96bd-4d40-82cb-2d0f3879052d",
                  "folderPath": "/Shared Documents/Signed Applications"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('Get_files_(properties_only)')?['body/value']",
              "actions": {
                "Compose": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cf105a4a-0170-45ff-b0e8-91a0e0b06215"
                  },
                  "type": "Compose",
                  "inputs": "@items('Apply_to_each_2')?['Created']"
                },
                "Year": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7c169b46-596b-4d25-a0f3-cccf28f36026"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(outputs('Compose'), 'yyyy')"
                },
                "Month": {
                  "runAfter": {
                    "Year": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8c006744-50bf-423d-8a9d-b88e9d94db92"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(outputs('Compose'), 'MM')"
                },
                "Condition_3": {
                  "actions": {
                    "Get_file_content": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "45264729-8ad0-48c1-9cba-cb8a211dc9b3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "GetFileContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                          "id": "@items('Apply_to_each_2')?['{Identifier}']",
                          "inferContentType": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Create_file_-_Managed": {
                      "runAfter": {
                        "Get_file_content": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4171a246-f603-4532-8519-e0188048aa1b"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "CreateFile",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                          "folderPath": "/Shared Documents/Signed Applications - Managed/Request for Refund/@{outputs('Year')}/@{outputs('Month')}",
                          "name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
                          "body": "@body('Get_a_PDF_of_a_signed_agreement')"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Month": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each_2')?['{FilenameWithExtension}']",
                      "@outputs('Convert_Word_to_PDF')?['body/fileName']"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9373c0c4-4217-412f-acc3-81f82f5b1748"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_files_(properties_only)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "38cc07de-472f-47bf-99c6-1f5c661bffb8"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@variables('Status')",
                "CANCELED"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "9673f0e5-235d-493f-ab81-e5e9d84a6088"
          },
          "type": "If"
        },
        "Unique_Identifier": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ace64ac-bb49-4f75-9bf3-fa11506c1e80"
          },
          "type": "Compose",
          "inputs": "@rand(1,9999)"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}