Msunduzieforms/Workflows/INTERNETACCESSAPPLICATION-BBBCADEB-C8DA-ED11-A7C6-002248CEA9F9.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedmicrosoftforms_976fd"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365_d96bc"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_wordonlinebusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedwordonlinebusiness_5cc97"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_adobepdftools_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedadobepdftools_00927"
        },
        "api": {
          "name": "shared_adobepdftools"
        }
      },
      "shared_adobesign_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedadobesign_d5ca8"
        },
        "api": {
          "name": "shared_adobesign"
        }
      },
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedsharepointonline_0442e"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365users_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365users_92015"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_office365users_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365users_f113c"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_office365groups": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365groups_b9e21"
        },
        "api": {
          "name": "shared_office365groups"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "09701f2f-5db9-462d-9a52-d4ef61f0f2e0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_1",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "P1xbJFWj6kaFMPRsd6DJyleBi50AVANPgFhIBvULuktUNTVHRkNFM0pEVlpNN1hHTU5TUDQzWVZSNSQlQCN0PWcu"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a3b10c8b-893a-46a4-859d-3bc7d3caf7ad"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_1",
              "operationId": "GetFormResponseById",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "P1xbJFWj6kaFMPRsd6DJyleBi50AVANPgFhIBvULuktUNTVHRkNFM0pEVlpNN1hHTU5TUDQzWVZSNSQlQCN0PWcu",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_-_Applicant": {
          "runAfter": {
            "Get_User_Profiles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5aef2aa5-7367-4b40-af82-43e220f3eff2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_response_details')?['body/responder']",
              "emailMessage/Subject": "Internet Access Application ",
              "emailMessage/Body": "<p>Hi @{outputs('Get_response_details')?['body/rdbfbe7c358d54caf84aebd298b23268a']} @{outputs('Get_response_details')?['body/r08a52c94343d4fd488e01876d8768cc8']}.<br>\n<br>\nYour request for Internet Access has been submitted. <br>\n<br>\nKind regards, <br>\n<br>\nMsunduzi </p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Populate_a_Microsoft_Word_template": {
          "runAfter": {
            "Send_an_email_-_Applicant": [
              "Succeeded"
            ]
          },
          "metadata": {
            "012SJIWHQSMOAROZZV5RDIIEDFXUPH4AQU": "/Templates/2.Application for Internet Access.docx",
            "operationMetadataId": "ec6f57c9-dd77-47eb-9b4e-981904d41357",
            "012SJIWHTQ7DHNDYPDXFEKA3YRPPP6P7YN": "/Templates/5.USER ACCOUNT FORM – SYSTEMS or APPLICATIONS HEAT.docx"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness_1",
              "operationId": "CreateFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "source": "groups/9d8b8157-5400-4f03-8058-4806f50bba4b",
              "drive": "b!uCWque-kv0edFfaaVvl3c64TCXb86ZJIqdQmmkDooA4OtDbVvZZATYLLLQ84eQUt",
              "file": "012SJIWHQSMOAROZZV5RDIIEDFXUPH4AQU",
              "dynamicFileSchema/42722369": "@outputs('Get_response_details')?['body/r6a4c292bbc674ee6939b52f862585963']",
              "dynamicFileSchema/510806792": "@outputs('Get_response_details')?['body/r3219b2cce71741a099ccbe9135ed5b40']",
              "dynamicFileSchema/519522268": "@outputs('Get_response_details')?['body/r05bf7ffe1ec044959eafdde2765b84cc']",
              "dynamicFileSchema/608010481": "@outputs('Get_response_details')?['body/r352f4d0838204b019464f0e699692eba']",
              "dynamicFileSchema/1252858505": "@outputs('Get_response_details')?['body/ra7206224cbcd435bb40f1003f324cac0']",
              "dynamicFileSchema/1466002054": "@outputs('Get_response_details')?['body/r3362f92d79234bca9fca8005fcf8d036']",
              "dynamicFileSchema/-1315260621": "@outputs('Get_response_details')?['body/rdbfbe7c358d54caf84aebd298b23268a']",
              "dynamicFileSchema/-1868132453": "@outputs('Get_response_details')?['body/r08a52c94343d4fd488e01876d8768cc8']",
              "dynamicFileSchema/-503510364": "@outputs('Get_response_details')?['body/re319b7a63bf24602a86c05403bb06a42']",
              "dynamicFileSchema/-1472968936": "@outputs('Get_response_details')?['body/r506d18f8220b4a7888ae4e5936920774']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Convert_Word_to_PDF": {
          "runAfter": {
            "Populate_a_Microsoft_Word_template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b3ec345-53f6-4f00-a166-0d246a35b3d1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobepdftools_1",
              "operationId": "CreatePDFFromWord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobepdftools"
            },
            "parameters": {
              "inputFileName": "Internet Access Application - @{outputs('Get_response_details')?['body/rdbfbe7c358d54caf84aebd298b23268a']} @{outputs('Get_response_details')?['body/r08a52c94343d4fd488e01876d8768cc8']} - @{outputs('Unique_Identifier')}.docx",
              "InputFile0/body": "@body('Populate_a_Microsoft_Word_template')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Upload_a_document_and_get_a_document_ID": {
          "runAfter": {
            "Convert_Word_to_PDF": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a48cca9-ffa2-48c9-9483-e60997fa0ffd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobesign_1",
              "operationId": "CreateTransientDocument_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
            },
            "parameters": {
              "File-Name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
              "File/body": "@outputs('Convert_Word_to_PDF')?['body/fileContent']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_an_agreement_from_an_uploaded_document_and_send_for_signature": {
          "runAfter": {
            "Upload_a_document_and_get_a_document_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e713dbb-d5fb-4a26-8647-fd4b44cc911d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobesign_1",
              "operationId": "CreateAgreementById_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
            },
            "parameters": {
              "AgreementCreationInfoIdV6/name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
              "AgreementCreationInfoIdV6/fileInfos": [
                {
                  "transientDocumentId": "@outputs('Upload_a_document_and_get_a_document_ID')?['body/transientDocumentId']"
                }
              ],
              "AgreementCreationInfoIdV6/signatureType": "ESIGN",
              "AgreementCreationInfoIdV6/participantSetsInfo": [
                {
                  "memberInfos": [
                    {
                      "email": "milasandeit@gmail.com"
                    }
                  ],
                  "order": 1,
                  "role": "SIGNER"
                },
                {
                  "memberInfos": [
                    {
                      "email": "milasandeit@gmail.com"
                    }
                  ],
                  "order": 2,
                  "role": "SIGNER"
                },
                {
                  "memberInfos": [
                    {
                      "email": "milasandeit@gmail.com"
                    }
                  ],
                  "order": 3,
                  "role": "SIGNER"
                },
                {
                  "memberInfos": [
                    {
                      "email": "milasandeit@gmail.com"
                    }
                  ],
                  "order": 4,
                  "role": "SIGNER"
                },
                {
                  "memberInfos": [
                    {
                      "email": "milasandeit@gmail.com"
                    }
                  ],
                  "order": 5,
                  "role": "SIGNER"
                }
              ],
              "AgreementCreationInfoIdV6/message": "Please review and complete this document",
              "AgreementCreationInfoIdV6/reminderFrequency": "DAILY_UNTIL_SIGNED",
              "AgreementCreationInfoIdV6/emailOption/sendOptions/initEmails": "ALL"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Do_until": {
          "actions": {
            "Delay": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d242bf08-63f8-44a5-bf12-39895a8ff065"
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 1,
                  "unit": "Minute"
                }
              }
            },
            "Get_the_status_of_an_agreement": {
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ed71f604-c2fe-4d6a-a6ed-dc6c085e604f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_adobesign_1",
                  "operationId": "GetAgreementInfo_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
                },
                "parameters": {
                  "agreementId": "@outputs('Create_an_agreement_from_an_uploaded_document_and_send_for_signature')?['body/id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Create_an_agreement_from_an_uploaded_document_and_send_for_signature": [
              "Succeeded"
            ]
          },
          "expression": "@equals(outputs('Get_the_status_of_an_agreement')?['body/status'], 'SIGNED')",
          "limit": {
            "count": 5000,
            "timeout": "P3D"
          },
          "metadata": {
            "operationMetadataId": "38498b1f-994a-4183-ac81-122922a6f5c2"
          },
          "type": "Until"
        },
        "Condition": {
          "actions": {
            "Get_a_PDF_of_a_signed_agreement": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f5d5aeec-7288-456b-a91a-575679f0b9be"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_adobesign_1",
                  "operationId": "GetCombinedDocument_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
                },
                "parameters": {
                  "agreementId": "@outputs('Get_the_status_of_an_agreement')?['body/id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_file": {
              "runAfter": {
                "Get_a_PDF_of_a_signed_agreement": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0bf0552d-83a3-4150-874b-a91777db241c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                  "folderPath": "/Shared Documents/Signed Applications",
                  "name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
                  "body": "@body('Get_a_PDF_of_a_signed_agreement')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Get_files_(properties_only)": {
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "77d28dbf-3807-440c-843b-bd6cc1f9176d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetFileItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                  "table": "d536b40e-96bd-4d40-82cb-2d0f3879052d",
                  "folderPath": "/Shared Documents/Signed Applications"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_files_(properties_only)')?['body/value']",
              "actions": {
                "Compose": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cf105a4a-0170-45ff-b0e8-91a0e0b06215"
                  },
                  "type": "Compose",
                  "inputs": "@items('Apply_to_each')?['Created']"
                },
                "Year": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7c169b46-596b-4d25-a0f3-cccf28f36026"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(outputs('Compose'), 'yyyy')"
                },
                "Month": {
                  "runAfter": {
                    "Year": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8c006744-50bf-423d-8a9d-b88e9d94db92"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(outputs('Compose'), 'MM')"
                },
                "Condition_2": {
                  "actions": {
                    "Get_file_content": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "741e2c7f-38e7-41bc-968a-5be2453283e0"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "GetFileContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                          "id": "@items('Apply_to_each')?['{Identifier}']",
                          "inferContentType": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Create_file_2": {
                      "runAfter": {
                        "Get_file_content": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a053358f-d2db-45e1-8483-7252738697e2"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "CreateFile",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                          "folderPath": "/Shared Documents/Signed Applications - Managed/Internet Access Application/@{outputs('Year')}/@{outputs('Month')}",
                          "name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
                          "body": "@body('Get_a_PDF_of_a_signed_agreement')"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Month": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each')?['{FilenameWithExtension}']",
                      "@outputs('Convert_Word_to_PDF')?['body/fileName']"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "78777aa3-0084-4a50-acd2-ea950423a27a"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_files_(properties_only)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2b99dbc6-5fd4-4d88-98c4-650aaf654fe1"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e466793c-c34f-4fc1-a1ac-c879eb6cf27d"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_the_status_of_an_agreement')?['body/status']",
              "SIGNED"
            ]
          },
          "metadata": {
            "operationMetadataId": "448b6831-3804-4804-8117-3d22e7888fe6"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {
            "Do_until": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "47635dc0-aaa1-4525-81ae-7608b9fc859f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Status",
                "type": "string",
                "value": "@outputs('Get_the_status_of_an_agreement')?['body/status']"
              }
            ]
          }
        },
        "Unique_Identifier": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77598335-c01c-4828-81a0-ac53b25db686"
          },
          "type": "Compose",
          "inputs": "@rand(1,9999)"
        },
        "Get_User_Profiles": {
          "actions": {
            "Get_user_profile_-_ICT_Personnel": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ceb549f5-c999-4ceb-b9d6-0e7a7c605bdd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_2",
                  "operationId": "UserProfile_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "thozin@msunduzi.gov.za"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_manager_-_Line_Manager": {
              "runAfter": {
                "Get_user_profile_-_ICT_Personnel": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f53a120-d7b7-4890-9c58-b0d896cb4696"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_1",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_response_details')?['body/responder']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_manager_-_ICT_Manager": {
              "runAfter": {
                "Get_manager_-_Line_Manager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "21e8d119-7f61-4855-b69e-1de1a544f4fd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_1",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_manager_-_Line_Manager')?['body/userPrincipalName']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Scope_-_Filter_Users": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "16e2683c-c5fe-496d-b131-3e60a97eb071"
          },
          "type": "Scope"
        },
        "Scope_-_Filter_Users": {
          "actions": {
            "Send_an_HTTP_request": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "096ac4bc-1776-415d-bd95-f863de39154c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365groups",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups"
                },
                "parameters": {
                  "Uri": "https://graph.microsoft.com/v1.0/users/?$select=userPrincipalName,displayName,mail,jobTitle&$filter=jobTitle eq 'Server Administrator'",
                  "Method": "GET",
                  "ContentType": "application/json"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "Send_an_HTTP_request": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dfbcfc68-9844-41a8-831a-87bf405de422"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Send_an_HTTP_request')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userPrincipalName": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "mail": {
                            "type": "string"
                          },
                          "jobTitle": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "userPrincipalName",
                          "displayName",
                          "mail",
                          "jobTitle"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Filter_array": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f21a627-ffda-4bd9-a460-3ef0a2c71faf"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')?['value']",
                "where": "@equals(item()?['jobTitle'], 'Server Administrator')"
              }
            }
          },
          "runAfter": {
            "Unique_Identifier": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a4d44e6e-8b34-4681-b3ad-e12f77cdb3a3"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}