Msunduzieforms/Managed/Workflows/ConferenceApplication-2D99614A-04D9-ED11-A7C7-000D3A272709.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedmicrosoftforms_976fd"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365_d96bc"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_wordonlinebusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedwordonlinebusiness_5cc97"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_adobepdftools_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedadobepdftools_00927"
        },
        "api": {
          "name": "shared_adobepdftools"
        }
      },
      "shared_adobesign_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedadobesign_d5ca8"
        },
        "api": {
          "name": "shared_adobesign"
        }
      },
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedsharepointonline_0442e"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365users_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365users_92015"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_office365groups_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr179_sharedoffice365groups_b9e21"
        },
        "api": {
          "name": "shared_office365groups"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "09701f2f-5db9-462d-9a52-d4ef61f0f2e0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_1",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "P1xbJFWj6kaFMPRsd6DJyleBi50AVANPgFhIBvULuktUNlhVSUtFQzBDWE1PVFo0WDZVMlc3VUJWVCQlQCN0PWcu"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a3b10c8b-893a-46a4-859d-3bc7d3caf7ad"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_1",
              "operationId": "GetFormResponseById",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "P1xbJFWj6kaFMPRsd6DJyleBi50AVANPgFhIBvULuktUNlhVSUtFQzBDWE1PVFo0WDZVMlc3VUJWVCQlQCN0PWcu",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_-_Applicant": {
          "runAfter": {
            "Terminate_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5aef2aa5-7367-4b40-af82-43e220f3eff2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_response_details')?['body/responder']",
              "emailMessage/Subject": "Conference Application ",
              "emailMessage/Body": "<p>Hi @{outputs('Get_response_details')?['body/r32122b53337746539746f310a5ab7060']} @{outputs('Get_response_details')?['body/r176dcba5682d4157a899f0192a30c810']} .<br>\n<br>\nYour request for Conference Application has been submitted.<br>\n<br>\nKind regards,<br>\n<br>\nMsunduzi</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Populate_a_Microsoft_Word_template": {
          "runAfter": {
            "Send_an_email_-_Applicant": [
              "Succeeded"
            ]
          },
          "metadata": {
            "012SJIWHQSMOAROZZV5RDIIEDFXUPH4AQU": "/Templates/2.Application for Internet Access.docx",
            "operationMetadataId": "ec6f57c9-dd77-47eb-9b4e-981904d41357",
            "012SJIWHRCDUM7TUPJEBALOI2OBH7MQRXX": "/Templates/4.APPLICATION FOR AUTHORITY TO ATTEND A CONFERENCE or SEMINAR.docx"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness_1",
              "operationId": "CreateFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "source": "groups/9d8b8157-5400-4f03-8058-4806f50bba4b",
              "drive": "b!uCWque-kv0edFfaaVvl3c64TCXb86ZJIqdQmmkDooA4OtDbVvZZATYLLLQ84eQUt",
              "file": "012SJIWHRCDUM7TUPJEBALOI2OBH7MQRXX",
              "dynamicFileSchema/6187903": "@outputs('Get_response_details')?['body/r2dce400fa4fb4ff29920281c2986f159']",
              "dynamicFileSchema/341895637": "@outputs('Get_response_details')?['body/rc085688a8d874dc58b797f2d4f3204ad']",
              "dynamicFileSchema/473958509": "@outputs('Get_response_details')?['body/r8cd14ade0cce46fbaf496cc2a1c072c2']",
              "dynamicFileSchema/519522268": "@outputs('Get_response_details')?['body/rdb608780e5104b07ab352241c8289873']",
              "dynamicFileSchema/565463576": "@outputs('Get_response_details')?['body/r322981fd5e424869bfc4f46c9944b544']",
              "dynamicFileSchema/719331484": "@outputs('Get_response_details')?['body/rd7ced839c6174b97b658d2cf7d30cac8']",
              "dynamicFileSchema/784464374": "@outputs('Get_response_details')?['body/re14176ecc6664b31837f07fb4163bbb6']",
              "dynamicFileSchema/799727398": "@outputs('Get_response_details')?['body/r4521631a852b4ebd9283482770b5014a']",
              "dynamicFileSchema/844820704": "@outputs('Get_response_details')?['body/racc56e2eb5e44cb196324b6eccc5dd68']",
              "dynamicFileSchema/913981093": "@outputs('Get_response_details')?['body/r32122b53337746539746f310a5ab7060']",
              "dynamicFileSchema/1832554948": "@outputs('Get_response_details')?['body/r44019cb4ffd140c0ba27053f86dbabd8']",
              "dynamicFileSchema/2032612921": "@outputs('Get_response_details')?['body/rf7f4f3aff4034750ab19303139addcad']",
              "dynamicFileSchema/-1339076607": "@outputs('Get_response_details')?['body/r176dcba5682d4157a899f0192a30c810']",
              "dynamicFileSchema/-503510364": "@outputs('Get_response_details')?['body/r98b119ab1b354af8b3c0598dea2f2c96']",
              "dynamicFileSchema/-977527596": "@outputs('Get_response_details')?['body/r0cb217e8b9ed4782bb05cb6b515cd895']",
              "dynamicFileSchema/-219054401": "@outputs('Get_response_details')?['body/r08cb06af98044bc299cf6414591daf55']",
              "dynamicFileSchema/-339310360": "@outputs('Get_response_details')?['body/r7b524bb0615d4f0d9038bdd2aa4e67f5']",
              "dynamicFileSchema/-2117590436": "@outputs('Get_response_details')?['body/rd7ced839c6174b97b658d2cf7d30cac8']",
              "dynamicFileSchema/-580368917": "@outputs('Get_response_details')?['body/rabae424694cc4eb99577ac6fc7360bf4']",
              "dynamicFileSchema/-1012519368": "@outputs('Get_response_details')?['body/rd4ed486e9116414c824c6e083512eb5a']",
              "dynamicFileSchema/-1689750794": "@outputs('Get_response_details')?['body/rd34a2b212d1643c2ba90a08eaf5dd665']",
              "dynamicFileSchema/-1381709953": "@outputs('Get_response_details')?['body/rc3abab368e814cdea78c4a49ad22f7b1']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Convert_Word_to_PDF": {
          "runAfter": {
            "Populate_a_Microsoft_Word_template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b3ec345-53f6-4f00-a166-0d246a35b3d1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobepdftools_1",
              "operationId": "CreatePDFFromWord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobepdftools"
            },
            "parameters": {
              "inputFileName": "Conference Application - @{outputs('Get_response_details')?['body/r32122b53337746539746f310a5ab7060']} @{outputs('Get_response_details')?['body/r176dcba5682d4157a899f0192a30c810']} -  @{outputs('Unique_Identifier')}.docx",
              "InputFile0/body": "@body('Populate_a_Microsoft_Word_template')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Upload_a_document_and_get_a_document_ID": {
          "runAfter": {
            "Convert_Word_to_PDF": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a48cca9-ffa2-48c9-9483-e60997fa0ffd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobesign_1",
              "operationId": "CreateTransientDocument_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
            },
            "parameters": {
              "File-Name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
              "File/body": "@outputs('Convert_Word_to_PDF')?['body/fileContent']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_an_agreement_from_an_uploaded_document_and_send_for_signature": {
          "runAfter": {
            "Upload_a_document_and_get_a_document_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e713dbb-d5fb-4a26-8647-fd4b44cc911d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_adobesign_1",
              "operationId": "CreateAgreementById_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
            },
            "parameters": {
              "AgreementCreationInfoIdV6/name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
              "AgreementCreationInfoIdV6/fileInfos": [
                {
                  "transientDocumentId": "@outputs('Upload_a_document_and_get_a_document_ID')?['body/transientDocumentId']"
                }
              ],
              "AgreementCreationInfoIdV6/signatureType": "ESIGN",
              "AgreementCreationInfoIdV6/participantSetsInfo": [
                {
                  "memberInfos": [
                    {
                      "email": "@outputs('Get_response_details')?['body/responder']"
                    }
                  ],
                  "order": 1,
                  "role": "SIGNER"
                },
                {
                  "memberInfos": [
                    {
                      "email": "@outputs('Get_manager_-_Supervisor_or_Team_leader')?['body/userPrincipalName']"
                    }
                  ],
                  "order": 2,
                  "role": "SIGNER"
                }
              ],
              "AgreementCreationInfoIdV6/message": "Please review and complete this document",
              "AgreementCreationInfoIdV6/reminderFrequency": "DAILY_UNTIL_SIGNED",
              "AgreementCreationInfoIdV6/emailOption/sendOptions/initEmails": "ALL"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Do_until": {
          "actions": {
            "Delay": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d242bf08-63f8-44a5-bf12-39895a8ff065"
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 1,
                  "unit": "Minute"
                }
              }
            },
            "Get_the_status_of_an_agreement": {
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ed71f604-c2fe-4d6a-a6ed-dc6c085e604f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_adobesign_1",
                  "operationId": "GetAgreementInfo_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
                },
                "parameters": {
                  "agreementId": "@outputs('Create_an_agreement_from_an_uploaded_document_and_send_for_signature')?['body/id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Create_an_agreement_from_an_uploaded_document_and_send_for_signature": [
              "Succeeded"
            ]
          },
          "expression": "@equals(outputs('Get_the_status_of_an_agreement')?['body/status'], 'SIGNED')",
          "limit": {
            "count": 5000,
            "timeout": "P3D"
          },
          "metadata": {
            "operationMetadataId": "38498b1f-994a-4183-ac81-122922a6f5c2"
          },
          "type": "Until"
        },
        "Condition": {
          "actions": {},
          "runAfter": {
            "Initialize_variable_-_Updated_Status": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e466793c-c34f-4fc1-a1ac-c879eb6cf27d"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_the_status_of_an_agreement')?['body/status']",
              "SIGNED"
            ]
          },
          "metadata": {
            "operationMetadataId": "448b6831-3804-4804-8117-3d22e7888fe6"
          },
          "type": "If"
        },
        "Initialize_variable_-_Updated_Status": {
          "runAfter": {
            "Do_until": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "47635dc0-aaa1-4525-81ae-7608b9fc859f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Status",
                "type": "string",
                "value": "@outputs('Get_the_status_of_an_agreement')?['body/status']"
              }
            ]
          }
        },
        "Condition_2": {
          "actions": {
            "Get_a_PDF_of_a_signed_agreement": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f5d5aeec-7288-456b-a91a-575679f0b9be"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_adobesign_1",
                  "operationId": "GetCombinedDocument_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_adobesign"
                },
                "parameters": {
                  "agreementId": "@outputs('Get_the_status_of_an_agreement')?['body/id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_file": {
              "runAfter": {
                "Get_a_PDF_of_a_signed_agreement": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "70ff85ff-7ca8-403f-b3db-025e5238d370"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                  "folderPath": "/Shared Documents/Signed Applications",
                  "name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
                  "body": "@body('Get_a_PDF_of_a_signed_agreement')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Get_files_(properties_only)": {
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f37089fa-0e57-4f45-bb82-b1a59c872dbc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetFileItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                  "table": "d536b40e-96bd-4d40-82cb-2d0f3879052d",
                  "folderPath": "/Shared Documents/Signed Applications"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('Get_files_(properties_only)')?['body/value']",
              "actions": {
                "Compose": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cf105a4a-0170-45ff-b0e8-91a0e0b06215"
                  },
                  "type": "Compose",
                  "inputs": "@items('Apply_to_each_2')?['Created']"
                },
                "Year": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7c169b46-596b-4d25-a0f3-cccf28f36026"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(outputs('Compose'), 'yyyy')"
                },
                "Month": {
                  "runAfter": {
                    "Year": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8c006744-50bf-423d-8a9d-b88e9d94db92"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(outputs('Compose'), 'MM')"
                },
                "Condition_3": {
                  "actions": {
                    "Get_file_content": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "45264729-8ad0-48c1-9cba-cb8a211dc9b3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "GetFileContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                          "id": "@items('Apply_to_each_2')?['{Identifier}']",
                          "inferContentType": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Create_file_2": {
                      "runAfter": {
                        "Get_file_content": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4171a246-f603-4532-8519-e0188048aa1b"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "CreateFile",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://msunduzigovza.sharepoint.com/sites/Msunduzie-Forms",
                          "folderPath": "/Shared Documents/Signed Applications - Managed/Conference Application/@{outputs('Year')}/@{outputs('Month')}",
                          "name": "@outputs('Convert_Word_to_PDF')?['body/fileName']",
                          "body": "@body('Get_a_PDF_of_a_signed_agreement')"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Month": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each_2')?['{FilenameWithExtension}']",
                      "@outputs('Convert_Word_to_PDF')?['body/fileName']"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7d0c38a4-3754-4728-a38f-e4147eb594ec"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_files_(properties_only)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "79652d93-cb2a-4665-9fb1-1b6f22873ee8"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@variables('Status')",
                "CANCELED"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a2441f8a-2f47-4ffd-b6c4-f13546ea71d4"
          },
          "type": "If"
        },
        "Get_Signers_Profiles": {
          "actions": {
            "Get_manager_-_Supervisor_or_Team_leader": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cb17ac33-b272-43a0-9f25-722690632e13"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_1",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_response_details')?['body/responder']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_manager_-__Senior_Manager": {
              "runAfter": {
                "Apply_to_each_4": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f1825047-94a1-4d59-80be-6d421643a975"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_1",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_manager_-_Supervisor_or_Team_leader')?['body/userPrincipalName']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_manager_-_General_Manager": {
              "runAfter": {
                "Get_manager_-__Senior_Manager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "daaa028f-9ec1-4b26-86aa-5c7001d39557"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users_1",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@outputs('Get_manager_-__Senior_Manager')?['body/userPrincipalName']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_3": {
              "foreach": "@body('Filter_array_-_City_Manager')",
              "actions": {
                "Get_user_profile_-_Municipal_Manager": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "51ce6602-8014-48e0-92be-651ec3749c9a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365users_1",
                      "operationId": "UserProfile_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                    },
                    "parameters": {
                      "id": "@items('Apply_to_each_3')?['userPrincipalName']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each_5": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5757df50-9a2c-416f-a51e-05fd5c753917"
              },
              "type": "Foreach"
            },
            "Apply_to_each_4": {
              "foreach": "@body('Filter_array_-_finance_Officer')",
              "actions": {
                "Get_user_profile_-_Finance_Support_Manager": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ceb549f5-c999-4ceb-b9d6-0e7a7c605bdd"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365users_1",
                      "operationId": "UserProfile_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                    },
                    "parameters": {
                      "id": "@items('Apply_to_each_4')?['userPrincipalName']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_manager_-_Supervisor_or_Team_leader": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "59ba5e01-30de-43c8-b24f-b185225f261f"
              },
              "type": "Foreach"
            },
            "Apply_to_each_5": {
              "foreach": "@body('Filter_array_-_Skills_Development_Manager')",
              "actions": {
                "Get_user_profile_-_Skills_Development_Manager": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2d33650d-21da-4272-8475-6b0cffcfb652"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365users_1",
                      "operationId": "UserProfile_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                    },
                    "parameters": {
                      "id": "@items('Apply_to_each_5')?['userPrincipalName']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_manager_-_General_Manager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "31c0cbdb-bd96-4a5c-a680-785fa1995a60"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Scope_-_Filter_Users_by_Roles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e1ab8651-9984-43f1-bb5a-409c987d3985"
          },
          "type": "Scope"
        },
        "Scope_-_Filter_Users_by_Roles": {
          "actions": {
            "Send_an_HTTP_request_-_API_Graph_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6b57f43b-da06-460c-a2b7-65959e7b2a5f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365groups_1",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups"
                },
                "parameters": {
                  "Uri": "https://graph.microsoft.com/v1.0/users",
                  "Method": "GET",
                  "ContentType": "application/json"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "Send_an_HTTP_request": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3fce25be-8c93-49e8-96d8-54ec722e34a3"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Send_an_HTTP_request_-_API_Graph_2')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userPrincipalName": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "mail": {},
                          "jobTitle": {}
                        },
                        "required": [
                          "userPrincipalName",
                          "displayName",
                          "mail",
                          "jobTitle"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Filter_array_-_finance_Officer": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76c19aab-de48-4fe4-b0d7-f6747a649ba9"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')?['value']",
                "where": "@equals(item()?['jobTitle'], 'Cashiers')"
              }
            },
            "Filter_array_-_Skills_Development_Manager": {
              "runAfter": {
                "Filter_array_-_finance_Officer": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3a0f8b18-a3b0-4fad-9145-b5efd5d01e67"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')?['value']",
                "where": "@contains(item()?['jobTitle'], 'Skill Developer Manager')"
              }
            },
            "Filter_array_-_City_Manager": {
              "runAfter": {
                "Filter_array_-_Skills_Development_Manager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1c8a8b89-b247-471d-9d64-6e5dc6338fc4"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')?['value']",
                "where": "@contains(item()?['jobTitle'], 'City Manager')"
              }
            },
            "Send_an_HTTP_request": {
              "runAfter": {
                "Send_an_HTTP_request_-_API_Graph_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4e8a5211-a10b-4656-9938-fdfc8c975e85"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365groups_1",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups"
                },
                "parameters": {
                  "Uri": "https://graph.microsoft.com/v1.0/users?$count=true&$filter= jobTitle eq 'Financial Support Manager' &$orderBy=displayName&$select=id,displayName,userPrincipalName",
                  "Method": "GET",
                  "ContentType": "application/json"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Unique_Identifier": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "631b0374-2b30-421b-97e1-44ed0c583b3e"
          },
          "type": "Scope"
        },
        "Unique_Identifier": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3a82655e-a4ae-473b-aab0-4a90db19fc16"
          },
          "type": "Compose",
          "inputs": "@rand(1,9999)"
        },
        "Terminate_2": {
          "runAfter": {
            "Get_Signers_Profiles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1527b8cb-5c17-49b4-b657-24db02399170"
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Failed"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}